<script>
    document.addEventListener("touchmove", function (e) {
        e.preventDefault();
    });
</script>
<div ng-controller="DrawerController">
    <ul class="list drawerList" ng-show="isSignedIn">
        <li class="item item-dark userImageListItem" ng-click="userProfile()"><span ng-show="showUserImage" class="userImageContainer"></span><i class="icon super-person" ng-show="showUserIcon"></i>{{ username }}</li>
    </ul>
    <hr class="drawerDivider" />
    <ul class="list drawerList">
        <li class="item item-dark" ng-click="home()" ng-show="isLocalSignedIn"><i class="icon super-home"></i>Home</li>
        <li class="item item-dark" ng-repeat="view in views" ng-click="showView(view)"><i ng-class="view.iconClassName"></i>{{ view.Name }}</li>
    </ul>
    <hr class="drawerDivider" />
    <ul class="list drawerList" ng-show="isSignedIn">
        <li class="item item-dark" ng-click="changeServer()" ng-show="isLocalSignedIn"><i class="icon super-earth"></i>Select Server</li>
        <li class="item item-dark" ng-click="settings()"><i class="icon super-gear-a"></i>Settings</li>
        <li class="item item-dark" ng-click="logout()"><i class="icon super-locked"></i>Sign out</li>
    </ul>
</div>
