<div class="padding" ng-controller="HomeController">
    <div class="padding">

        <div ng-show="showResume" class="itemListSection">
            <h3>Resume</h3>
            <div class="itemsContainer">
                <carditem ng-repeat="item in resumeItems">
                </carditem>
            </div>
        </div>

        <div ng-show="showLatest" class="itemListSection">
            <h3>Latest Media</h3>
            <div class="itemsContainer">
                <carditem ng-repeat="item in latestItems">
                </carditem>
            </div>
        </div>

    </div>

</div>
