<div class="padding" ng-controller="InitialViewController">
    <div class="padding" ng-show="showWelcome">

        <div class="padding-top">
            <h3>Welcome to Media Browser</h3>
        </div>

        <br />
        <p>With Media Browser you can easily stream videos, music and photos to the iPhone, iPad and other devices from your Media Browser Server.</p>

        <br />
        <p>To download and install Media Browser Server visit <a href="http://mediabrowser.tv" target="_blank" onclick="steroids.openURL(this.href);return false;">http://mediabrowser.tv</a></p>

        <br />
        <button class="button button-block button-balanced icon-right super-arrow-right-a" ng-click="next()">
            Next
        </button>
    </div>
    <div class="padding" ng-show="showServerSignIn">

        <div class="padding-top">
            <h3>Please Sign In</h3>
        </div>

        <div class="list">
            <a class="item item-thumbnail-left item-dark" href="#" ng-repeat="user in users" ng-click="loginUser(user)">
                <img src="{{ user.ImageUrl }}">
                <h2 class="padding-top">{{ user.Name }}</h2>
                <p>&nbsp;</p>
            </a>
        </div>

        <br />
        <button class="button button-block button-positive icon-left super-locked" ng-click="showManualLogin()">
            Manual Sign In
        </button>

        <button class="button button-block button-dark icon-left super-network" ng-click="changeServer()">
            Change Server
        </button>

        <div ng-show="isNotLoggedIntoConnect">
            <br />
            <button class="button button-block button-balanced icon-left super-unlocked" ng-click="signInWithConnect()">
                Sign In with Media Browser Connect
            </button>
        </div>
    </div>
    <div class="padding" ng-show="showServerSelection">

        <div class="padding-top">
            <h3>Select Server</h3>
        </div>

        <br />

        <div class="list">
            <a class="item item-thumbnail-left item-dark" href="#" ng-repeat="server in servers" ng-click="connectToServer(server)">
                <img src="/images/network.png">
                <h2 class="padding-top">{{ server.Name }}</h2>
                <p>&nbsp;</p>
            </a>
        </div>

        <button class="button button-block button-positive icon-left super-plus-round" ng-click="newServer()">
            New
        </button>

        <div ng-show="isNotLoggedIntoConnect">
            <br />
            <button class="button button-block button-balanced icon-left super-unlocked" ng-click="signInWithConnect()">
                Sign In with Media Browser Connect
            </button>
        </div>

    </div>
    
    <div class="padding" ng-show="showConnectSignIn">

        <form ng-submit="loginToConnect()">
            <div class="padding-top">
                <h3>Sign In with Media Browser Connect</h3>
            </div>

            <br />
            <p>With <a href="http://mediabrowser.tv/connect" target="_blank" onclick="steroids.openURL(this.href);return false;">Media Browser Connect</a> you can easily access your Media Browser Server wherever you are and share with your family and friends.</p>
            <br />
            <label class="item item-input item-dark">
                <input type="text" placeholder="Username or email" ng-model="username" class="txtUsername" required="required" />
            </label>

            <label class="item item-input item-dark">
                <input type="password" placeholder="Password" ng-model="password" class="txtPassword" required="required" />
            </label>

            <button class="button button-block button-balanced icon-left super-checkmark-round" type="submit">
                Sign In
            </button>
        </form>
        <br />
        <button class="button button-block button-dark icon-left super-close-round" ng-click="skipConnect()">
            Skip
        </button>
        <p class="centeredContent">Connect to my server manually</p>
    </div>

</div>
