<div class="padding" ng-controller="LearnMoreController">
  <super-navbar>
    <super-navbar-title ng-bind="navbarTitle"></super-navbar-title>
  </super-navbar>

  <h3>Working with AngularJS</h3>

  <p>Angular also works great with Supersonic native components. The input field below will automatically update the navigation bar title.</p>

  <div class="card padding">
    <h4>Navigation Bar Title (Look Up!)</h4>
    <label class="item item-input">
      <input type="text" ng-model="navbarTitle">
    </label>
  </div>

  <p>You can find the AngularJS controller used at:</p>

  <p><strong><small>/app/example/scripts/LearnMoreController.coffee</small></strong></p>

  <h3>Supersonic First Mile</h3>

  <p>If you're not following it already, you should head on over to the <strong>First Mile tutorial</strong> at</p>

  <p><a onclick="supersonic.app.openURL('http://docs.appgyver.com')" href="#">http://docs.appgyver.com</a></p>

  <p>We'll tell you all you need to know to get a running start in developing apps with Supersonic. There's also plenty of tutorials and in-depth guides in the docs, plus the full Supersonic API reference, so check it out!</p>

  <h3>Forums</h3>
  <p>Stuck on something? Built something great that you want to share? Hop on to the AppGyver forums at <a onclick="supersonic.app.openURL('https://forums.appgyver.com')" href="#">https://forums.appgyver.com</a> and join the community!</p>
</div>
