<div class="padding" ng-controller="ManualLoginController">

	<div class="padding">
  
		<form ng-submit="login()">
			<div class="padding-top">
				<h3>Sign In</h3>
			</div>
			
			<br/>
			<label class="item item-input item-dark">
				<input type="text" placeholder="Username" ng-model="username" required="required" class="txtUsername" />
			</label>
			
			<label class="item item-input item-dark">
				<input type="password" placeholder="Password" ng-model="password" />
			</label>
			
			<button class="button button-block button-balanced icon-left super-checkmark-round" type="submit">
			Sign In
			</button>
		</form>

		<br/>
		<button class="button button-block button-dark icon-left super-close-round" ng-click="cancel()">
			Cancel
		</button>
		
	</div>

</div>
