<div class="padding" ng-controller="TvSuggestedController">
    <div class="padding">

        <div ng-show="showResume" class="itemListSection">
            <h3>Resume</h3>
            <div class="itemsContainer resumeItemsContainer">
                <carditem ng-repeat="item in resumeItems">
                </carditem>
            </div>
        </div>

        <div ng-show="showNextUp" class="itemListSection">
            <h3>Next Up</h3>
            <div class="itemsContainer nextUpItemsContainer">
                <carditem ng-repeat="item in nextUpItems">
                </carditem>
            </div>
        </div>

        <div ng-show="showLatest" class="itemListSection">
            <h3>Latest Episodes</h3>
            <div class="itemsContainer latestItemsContainer">
                <carditem ng-repeat="item in latestItems">
                </carditem>
            </div>
        </div>

    </div>

</div>
