<super-navbar>
  <super-navbar-title>
    Using the Scanner
  </super-navbar-title>
</super-navbar>

<div class="padding">

  <p>To restart your current app or scan another app, follow the instructions below.</p>

  <div class="card padding">
    <h3>On iOS</h3>
    <p class="positive"><strong>Tap and hold on the screen with three fingers.</strong></p>
    <p>This opens the Scanner context menu.</p>
  </div>

  <div class="card padding">
    <h3>On Android</h3>
    <p class="balanced"><strong>Press the native back button in your app's root view.</strong></p>
    <p>This will return you to the initial Scan screen.</p>
  </div>

</div>
