<?xml version='1.0' encoding='utf-8'?>
<widget android-packageName="com.mb.android" android-versionCode="20000854" id="com.emby.mobile" ios-CFBundleIdentifier="com.emby.mobile" version="2.8.54" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Emby</name>
    <description>
    Emby Mobile
  </description>
    <author email="apps@emby.media" href="http://emby.media">
    Emby
  </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="*" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
    <preference name="SplashScreen" value="res/icon.png" />
    <preference name="SplashScreenDelay" value="7000" />
    <preference name="ShowSplashScreen" value="true" />
    <preference name="SplashScreenWidth" value="600" />
    <preference name="SplashScreenHeight" value="300" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="windows-target-version" value="10.0" />
    <preference name="windows-phone-target-version" value="10.0" />
    <icon src="res/icon.png" />
    <platform name="ios">
        <icon height="180" src="res/ios/icon-60@3x.png" width="180" />
        <icon height="60" src="res/ios/icon-60.png" width="60" />
        <icon height="120" src="res/ios/icon-60@2x.png" width="120" />
        <icon height="76" src="res/ios/icon-76.png" width="76" />
        <icon height="152" src="res/ios/icon-76@2x.png" width="152" />
        <icon height="40" src="res/ios/icon-40.png" width="40" />
        <icon height="80" src="res/ios/icon-40@2x.png" width="80" />
        <icon height="120" src="res/ios/icon-40@3x.png" width="120" />
        <icon height="57" src="res/ios/icon.png" width="57" />
        <icon height="114" src="res/ios/icon@2x.png" width="114" />
        <icon height="72" src="res/ios/icon-72.png" width="72" />
        <icon height="144" src="res/ios/icon-72@2x.png" width="144" />
        <icon height="29" src="res/ios/icon-small.png" width="29" />
        <icon height="58" src="res/ios/icon-small@2x.png" width="58" />
        <icon height="87" src="res/ios/icon-small@3x.png" width="87" />
        <icon height="50" src="res/ios/icon-50.png" width="50" />
        <icon height="100" src="res/ios/icon-50@2x.png" width="100" />
        <splash height="480" src="res/ios/splash~iphone.png" width="320" />
        <splash height="960" src="res/ios/splash@2x~iphone.png" width="640" />
        <splash height="1024" src="res/ios/splash-Portrait~ipad.png" width="768" />
        <splash height="2048" src="res/ios/splash-Portrait@2x~ipad.png" width="1536" />
        <splash height="768" src="res/ios/splash-Landscape~ipad.png" width="1024" />
        <splash height="1536" src="res/ios/splash-Landscape@2x~ipad.png" width="2048" />
        <splash height="1136" src="res/ios/splash-568h@2x~iphone.png" width="640" />
        <splash height="1334" src="res/ios/splash-667h.png" width="750" />
        <splash height="2208" src="res/ios/splash-736h.png" width="1242" />
        <splash height="1242" src="res/ios/splash-Landscape-736h.png" width="2208" />
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="apiKey" value="1d44b9d3acd7d0fbcff284549c6ec5d9" />
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#000000" />
        <preference name="StatusBarStyle" value="blacktranslucent" />
        <preference name="SplashScreenBackgroundColor" value="#1c1c1c" />
        <preference name="BackgroundColor" value="0xff000000" />
        <preference name="DisableLocalStorageSyncWithUIWebView" value="true" />
    </platform>
    <platform name="android">
        <preference name="android-minSdkVersion" value="16" />
        <preference name="android-targetSdkVersion" value="23" />
        <preference name="StatusBarOverlaysWebView" value="false" />
        <icon density="ldpi" src="res/android/ldpi/icon.png" />
        <icon density="mdpi" src="res/android/mdpi/icon.png" />
        <icon density="hdpi" src="res/android/hdpi/icon.png" />
        <icon density="xhdpi" src="res/android/xhdpi/icon.png" />
        <icon density="xxhdpi" src="res/android/xxhdpi/icon.png" />
        <icon density="xxxhdpi" src="res/android/xxxhdpi/icon.png" />
        <splash density="land-hdpi" src="res/android/ldpi/splash-land.png" />
        <splash density="land-ldpi" src="res/android/mdpi/splash-land.png" />
        <splash density="land-mdpi" src="res/android/hdpi/splash-land.png" />
        <splash density="land-xhdpi" src="res/android/xhdpi/splash-land.png" />
        <splash density="land-xxhdpi" src="res/android/xxhdpi/splash-land.png" />
        <splash density="land-xxxhdpi" src="res/android/xxxhdpi/splash-land.png" />
        <splash density="port-hdpi" src="res/android/ldpi/splash-port.png" />
        <splash density="port-ldpi" src="res/android/mdpi/splash-port.png" />
        <splash density="port-mdpi" src="res/android/hdpi/splash-port.png" />
        <splash density="port-xhdpi" src="res/android/xhdpi/splash-port.png" />
        <splash density="port-xxhdpi" src="res/android/xxhdpi/splash-port.png" />
        <splash density="port-xxxhdpi" src="res/android/xxxhdpi/splash-port.png" />
        <preference name="SplashScreenBackgroundColor" value="#1f1f1f" />
        <preference name="BackgroundColor" value="0xff222222" />
    </platform>
	<preference name="xwalkVersion" value="21+" />
    <preference name="xwalkUserAgent" value="android crosswalk/21 Chrome/51 Mobile Safari/537.36" />
</widget>
