<?xml version='1.0' encoding='utf-8'?>
<widget id="com.emby.mobile" android-packageName="com.emby.mobile" ios-CFBundleIdentifier="com.emby.mobile" version="2.5.11" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Emby</name>
  <description>
    Emby Mobile
  </description>
  <author email="apps@emby.media" href="http://emby.media">
    Emby
  </author>
  <content src="index.html" />
  <plugin name="cordova-plugin-whitelist" version="1" />
  <access origin="*" />
  <allow-intent href="*" />
  <preference name="AllowInlineMediaPlayback" value="true" />
  <preference name="MediaPlaybackRequiresUserAction" value="false" />
  <preference name="UIWebViewBounce" value="false" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="webviewbounce" value="false" />
  <preference name="BackupWebStorage" value="local" />
  <preference name="KeyboardDisplayRequiresUserAction" value="false"/>
  <preference name="SplashScreen" value="res/icon.png" /> <!-- defaults to "img/logo.png" -->
  <preference name="SplashScreenDelay" value="7000" /> <!-- defaults to "3000" -->
  <preference name="ShowSplashScreen" value="true" /> <!-- defaults to "true" -->
  <preference name="SplashScreenWidth" value="600" /> <!-- defaults to "170" -->
  <preference name="SplashScreenHeight" value="300" /> <!-- defaults to "200" -->
  <preference name="SplashMaintainAspectRatio" value="true" />
  <icon src="res/icon.png" />
  <platform name="ios">
    <!-- iOS 8.0+ -->
    <!-- iPhone 6 Plus  -->
    <icon src="res/ios/icon-60@3x.png" width="180" height="180" />
    <!-- iOS 7.0+ -->
    <!-- iPhone / iPod Touch  -->
    <icon src="res/ios/icon-60.png" width="60" height="60" />
    <icon src="res/ios/icon-60@2x.png" width="120" height="120" />
    <!-- iPad -->
    <icon src="res/ios/icon-76.png" width="76" height="76" />
    <icon src="res/ios/icon-76@2x.png" width="152" height="152" />
    <!-- iOS 6.1 -->
    <!-- Spotlight Icon -->
    <icon src="res/ios/icon-40.png" width="40" height="40" />
    <icon src="res/ios/icon-40@2x.png" width="80" height="80" />
    <icon src="res/ios/icon-40@3x.png" width="120" height="120" />
    <!-- iPhone / iPod Touch -->
    <icon src="res/ios/icon.png" width="57" height="57" />
    <icon src="res/ios/icon@2x.png" width="114" height="114" />
    <!-- iPad -->
    <icon src="res/ios/icon-72.png" width="72" height="72" />
    <icon src="res/ios/icon-72@2x.png" width="144" height="144" />
    <!-- iPhone Spotlight and Settings Icon -->
    <icon src="res/ios/icon-small.png" width="29" height="29" />
    <icon src="res/ios/icon-small@2x.png" width="58" height="58" />
    <icon src="res/ios/icon-small@3x.png" width="87" height="87" />
    <!-- iPad Spotlight and Settings Icon -->
    <icon src="res/ios/icon-50.png" width="50" height="50" />
    <icon src="res/ios/icon-50@2x.png" width="100" height="100" />
    <!-- images are determined by width and height. The following are supported -->
    <splash src="res/ios/splash~iphone.png" width="320" height="480"/>
    <splash src="res/ios/splash@2x~iphone.png" width="640" height="960"/>
    <splash src="res/ios/splash-Portrait~ipad.png" width="768" height="1024"/>
    <splash src="res/ios/splash-Portrait@2x~ipad.png" width="1536" height="2048"/>
    <splash src="res/ios/splash-Landscape~ipad.png" width="1024" height="768"/>
    <splash src="res/ios/splash-Landscape@2x~ipad.png" width="2048" height="1536"/>
    <splash src="res/ios/splash-568h@2x~iphone.png" width="640" height="1136"/>
    <splash src="res/ios/splash-667h.png" width="750" height="1334"/>
    <splash src="res/ios/splash-736h.png" width="1242" height="2208"/>
    <splash src="res/ios/splash-Landscape-736h.png" width="2208" height="1242"/>
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
	<preference name="apiKey" value="1d44b9d3acd7d0fbcff284549c6ec5d9" />
	<preference name="StatusBarOverlaysWebView" value="false" />
	<preference name="StatusBarBackgroundColor" value="#000000" />
	<preference name="StatusBarStyle" value="blacktranslucent" />
	<preference name="SplashScreenBackgroundColor" value="#1c1c1c" /> <!-- defaults to "#464646" -->
	<preference name="BackgroundColor" value="0xff000000" />
  </platform>
  <platform name="android">
	<preference name="android-minSdkVersion" value="14" />
	<preference name="android-targetSdkVersion" value="21" />
    <preference name="StatusBarOverlaysWebView" value="false" />
	<icon src="res/android/ldpi/icon.png" density="ldpi" />
    <icon src="res/android/mdpi/icon.png" density="mdpi" />
    <icon src="res/android/hdpi/icon.png" density="hdpi" />
    <icon src="res/android/xhdpi/icon.png" density="xhdpi" />
    <icon src="res/android/xxhdpi/icon.png" density="xxhdpi" />
    <icon src="res/android/xxxhdpi/icon.png" density="xxxhdpi" />
    <!-- you can use any density that exists in the Android project -->
    <splash src="res/android/ldpi/splash-land.png" density="land-hdpi"/>
    <splash src="res/android/mdpi/splash-land.png" density="land-ldpi"/>
    <splash src="res/android/hdpi/splash-land.png" density="land-mdpi"/>
    <splash src="res/android/xhdpi/splash-land.png" density="land-xhdpi"/>
    <splash src="res/android/xxhdpi/splash-land.png" density="land-xxhdpi"/>
    <splash src="res/android/xxxhdpi/splash-land.png" density="land-xxxhdpi"/>

    <splash src="res/android/ldpi/splash-port.png" density="port-hdpi"/>
    <splash src="res/android/mdpi/splash-port.png" density="port-ldpi"/>
    <splash src="res/android/hdpi/splash-port.png" density="port-mdpi"/>
    <splash src="res/android/xhdpi/splash-port.png" density="port-xhdpi"/>
    <splash src="res/android/xxhdpi/splash-port.png" density="port-xxhdpi"/>
    <splash src="res/android/xxxhdpi/splash-port.png" density="port-xxxhdpi"/>
	<preference name="SplashScreenBackgroundColor" value="#1f1f1f" /> <!-- defaults to "#464646" -->
	<preference name="BackgroundColor" value="0xff222222" />
  </platform>
    <preference name="xwalkVersion" value="15+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="xwalkMultipleApk" value="true" />
	<preference name="xwalkUserAgent" value="crosswalk/15 android" />
</widget>
