.supersonic-navbar-mock {
    background-color: #00B5FF !important;
    text-align: center;
    font-weight: 600;
}

body {
    background-color: #111;
}

.clearBody {
    background-color: transparent;
}

body, h1, h2, h3, .input-label {
    color: #fff;
}

input[type="text"], input[type="password"], input[type="number"] {
    color: #fff !important;
}

a {
    color: #52B54B;
}

.centeredContent {
    text-align: center;
}

.list .item {
    background-color: transparent;
}

.item-stacked-label {
    background-color: transparent !important;
    color: #fff;
}

.drawerList {
    margin-bottom: 0;
}

    .drawerList i {
        margin-right: 12px;
    }

.drawerDivider {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #333;
    margin: .5em 0;
    padding: 0;
}

.userImageListItem {
    padding-bottom: .5em;
    padding-top: 1.5em;
}

.userImageContainer img {
    max-width: 40px;
    max-height: 40px;
    vertical-align: middle;
    border-radius: 100px;
    margin-right: .75em;
}
