<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.rd11.remote-controls"
    version="1.0.0">

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <name>RemoteControls</name>
    <keywords>lockscreen,media,now,playing</keywords>

    <description>iOS  lock-screen remote-controls and now playing display.</description>

    <js-module src="www/RemoteControls.js" name="RemoteControls">
        <clobbers target="window.remoteControls" />
    </js-module>

    <author>Seth Hillinger, François LASSERRE, Michael GAUTHIER</author>

    <license>MIT License</license>

    <info>The MediaPlayer.framework should automatically be added, however you also need to add and modify a few functions in the MainViewContrller.m See the example in the README</info>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="RemoteControls">
                <param name="ios-package" value="RemoteControls" />
            </feature>
        </config-file>
        <header-file src="src/ios/RemoteControls.h" />
        <source-file src="src/ios/RemoteControls.m" />
        <framework src="MediaPlayer.framework" />
    </platform>

</plugin>
