<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.nypr.cordova.vlcplugin"
    version="0.1.0">
    <name>AudioPlayer</name>
    <description>VLC Plugin</description>
    <keywords>audio,stream,radio</keywords>
    <repo>https://github.com/wnyc/cordova-plugin-vlc.git</repo>

  <js-module src="www/audioplayer.js" name="AudioPlayer">
    <clobbers target="audioplayer"/>
  </js-module>

  <dependency id="org.apache.cordova.device" />
  <dependency id="org.apache.cordova.media" />
  <dependency id="org.apache.cordova.network-information" />

  <!-- ios -->
  <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AudioPlayerPlugin">
                <param name="ios-package" value="VLCPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <dependency id="org.nypr.cordova.nslogger-cocoalumberjack-connector-plugin" url="https://github.com/wnyc/cordova-plugin-nslogger-cocoalumberjack-connector.git"  />

        <hook type="after_plugin_install" src="scripts/afterIOSInstall.js" />

        <header-file src="src/ios/VLCPlugin.h" />
        <source-file src="src/ios/VLCPlugin.m" />
        <header-file src="src/ios/MainViewController+RemoteControl.h" />
        <source-file src="src/ios/MainViewController+RemoteControl.m" />

        <framework src="MediaPlayer.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="CFNetwork.framework" />
        <framework src="CoreText.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="OpenGLES.framework" />
        <framework src="Security.framework" />
        <framework src="libstdc++.6.0.9.dylib" />
        <framework src="libbz2.dylib" />
        <framework src="libiconv.dylib" />
    </platform>
</plugin>
