<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="acidhax.cordova.chromecast"
    version="0.0.1-alpha">
  <engines>
    <engine name="cordova" version=">=3.4.0" />
  </engines>

  <name>Cordova ChromeCast</name>

  <js-module src="chrome.cast.js" name="ChromecastApi">
    <clobbers target="chrome.cast" />
  </js-module>

  <js-module src="EventEmitter.js" name="EventEmitter"></js-module>

  <js-module src="tests/tests.js" name="tests">
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Chromecast">
        <param name="android-package" value="acidhax.cordova.chromecast.Chromecast"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    </config-file>

    <source-file src="src/android/Chromecast.java" target-dir="src/acidhax/cordova/chromecast" />
    <source-file src="src/android/ChromecastMediaController.java" target-dir="src/acidhax/cordova/chromecast" />
    <source-file src="src/android/ChromecastMediaRouterCallback.java" target-dir="src/acidhax/cordova/chromecast" />
    <source-file src="src/android/ChromecastSession.java" target-dir="src/acidhax/cordova/chromecast" />
    <source-file src="src/android/ChromecastSessionCallback.java" target-dir="src/acidhax/cordova/chromecast" />
    <source-file src="src/android/ChromecastOnMediaUpdatedListener.java" target-dir="src/acidhax/cordova/chromecast" />
    <source-file src="src/android/ChromecastOnSessionUpdatedListener.java" target-dir="src/acidhax/cordova/chromecast" />
    <source-file src="src/android/ChromecastException.java" target-dir="src/acidhax/cordova/chromecast" />

    <hook type="after_plugin_install" src="init-playservices-dependencies.js" />

  </platform>
</plugin>
