<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="org.apache.cordova.background-download"
      version="0.0.2">
    <name>Background Download</name>

    <description>Cordova Background Download Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,background,file,download</keywords>
    <repo>TODO</repo>
    <issue>TODO</issue>

    <dependency id="org.apache.cordova.file" />
    
    <js-module src="www/Promise.js" name="Promise">
    </js-module>

    <js-module src="www/BackgroundDownloader.js" name="BackgroundDownloader">
        <clobbers target="BackgroundTransfer.BackgroundDownloader" />
    </js-module>
    
    <js-module src="www/DownloadOperation.js" name="DownloadOperation">
        <clobbers target="DownloadOperation" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BackgroundDownload" >
                <param name="android-package" value="org.apache.cordova.backgroundDownload.BackgroundDownload"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <source-file src="src/android/BackgroundDownload.java" target-dir="src/org/apache/cordova/backgroundDownload" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BackgroundDownload">
                <param name="ios-package" value="BackgroundDownload" />
            </feature>
        </config-file>
        <header-file src="src/ios/BackgroundDownload.h" />
        <source-file src="src/ios/BackgroundDownload.m" />
    </platform>

    <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="BackgroundDownload">
                <param name="wp-package" value="BackgroundDownload"/>
            </feature>
        </config-file>
        <source-file src="src/wp/BackgroundDownload.cs" />
    </platform>

    <!-- windows8 -->
    <platform name="windows8">
        <js-module src="src/windows/BackgroundDownloadProxy.js" name="BackgroundDownload">
            <merges target="" />
        </js-module>
    </platform>

     <!-- windows -->
    <platform name="windows">
        <js-module src="src/windows/BackgroundDownloadProxy.js" name="BackgroundDownload">
            <merges target="" />
        </js-module>
    </platform>
</plugin>