<?xml version="1.0" encoding="UTF-8" ?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="hu.dpal.phonegap.plugins.UniqueDeviceID" 
        version="1.2.0">

    <name>UniqueDeviceID</name>

    <description>
        PhoneGap / Cordova unique device id (UUID) plugin for Android, iOS and Windows Phone 8. Remains the same after app uninstall.
    </description>
    <license>MIT</license>
    <keywords>phonegap,cordova,android,ios,wp,Windows,phone,device,id,uuid,unique</keywords>

    <js-module src="www/uniqueid.js" name="UniqueDeviceID">
        <merges target="window.plugins.uniqueDeviceID" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="UniqueDeviceID">
                <param name="android-package" value="hu.dpal.phonegap.plugins.UniqueDeviceID" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>

        <source-file src="src/android/UniqueDeviceID.java" target-dir="src/hu/dpal/phonegap/plugins" />

    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="UniqueDeviceID">
                <param name="ios-package" value="CDVUniqueDeviceID" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/UICKeyChainStore.h" />
        <source-file src="src/ios/UICKeyChainStore.m" />

        <header-file src="src/ios/CDVUniqueDeviceID.h" />
        <source-file src="src/ios/CDVUniqueDeviceID.m" />

        <framework src="Security.framework" />
    </platform>


    <!-- wp8 -->
    <platform name="wp8">
      <config-file target="config.xml" parent="/*">
        <feature name="UniqueDeviceID">
          <param name="wp-package" value="UniqueDeviceID"/>
        </feature>
      </config-file>

      <config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
        <Capability Name="ID_CAP_IDENTITY_DEVICE" />
      </config-file>

      <source-file src="src/wp/UniqueDeviceID.cs" />
    </platform>

</plugin>

