/***********************************************************
 * These styles apply for native components on iOS.
 * Read more about native styles at http://docs.appgyver.com
 ***********************************************************/

navigation-bar {
    background-color: #000000;
    color: #ffffff;
}

    navigation-bar title {
        color: #ffffff;
        font-size: 18px;
        font-weight: 600;
    }

    navigation-bar button, navigation-bar back-bar-button {
        color: #ffffff;
        font-weight: 300;
    }

tab-bar {
    background-color: #000000;
    border-top: 1px #222 solid;
}

    tab-bar tab-bar-item {
        color: #fff;
        font-family: "Avenir";
        font-size: 15px;
    }

        tab-bar tab-bar-item:selected {
            color: #2ad;
        }

tab-bar-item#settings {
    background-image: url(icons/cog.svg);
}

tab-bar-item#index {
    background-image: url(icons/home.svg);
}

tab-bar-item#internet {
    background-image: url(icons/search.svg);
}
