<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="nl.x-services.plugins.backgroundaudio"
        version="1.0.1">

  <name>BackgroundAudio</name>

  <description>
    Allows your app to keep on playing audio when it's in the background.
  </description>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <!-- ios -->
  <platform name="ios">

    <config-file target="*-Info.plist" parent="UIBackgroundModes">
      <array>
        <string>audio</string>
      </array>
    </config-file>

    <config-file target="config.xml" parent="/*">
      <feature name="BackgroundAudio">
        <param name="ios-package" value="BackgroundAudio"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <header-file src="src/ios/BackgroundAudio.h"/>
    <source-file src="src/ios/BackgroundAudio.m"/>
  </platform>

</plugin>
