<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.jellyfin.cordova"
    version="1.0.0">
  <engines>
    <engine name="cordova" version=">=7.0.0" />
  </engines>
  <name>Jellyfin</name>
  <js-module src="nativeshell.js" name="NativeShell">
    <clobbers target="NativeShell" />
  </js-module>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
        <feature name="NativeShell">
            <param name="android-package" value="org.jellyfin.cordova.NativeShell"/>
        </feature>
    </config-file>
    <source-file src="libs/apiclient.jar" target-dir="libs" />
    <source-file src="src/build-extras.gradle" target-dir="." />
    <source-file src="src/cordova/NativeShell.java" target-dir="src/org/jellyfin/cordova" />
    <source-file src="src/api/ApiClientBridge.java" target-dir="src/com/mb/android/api" />
    <source-file src="src/logging/AppLogger.java" target-dir="src/com/mb/android/logging" />
    <source-file src="src/logging/LogbackLogger.java" target-dir="src/com/mb/android/logging" />
    <source-file src="src/logging/LogFileFilter.java" target-dir="src/com/mb/android/logging" />
    <source-file src="src/media/RemotePlayerService.java" target-dir="src/com/mb/android/media" />
    <framework src="src/build.gradle" custom="true" type="gradleReference" />
    <resource-file src="res/drawable-hdpi/ic_notification.png" target="res/drawable-hdpi/ic_notification.png" />
    <resource-file src="res/drawable-ldpi/ic_notification.png" target="res/drawable-ldpi/ic_notification.png" />
    <resource-file src="res/drawable-mdpi/ic_notification.png" target="res/drawable-mdpi/ic_notification.png" />
    <resource-file src="res/drawable-xhdpi/ic_notification.png" target="res/drawable-xhdpi/ic_notification.png" />
    <resource-file src="res/drawable-xxhdpi/ic_notification.png" target="res/drawable-xxhdpi/ic_notification.png" />
    <resource-file src="res/drawable-xxxhdpi/ic_notification.png" target="res/drawable-xxxhdpi/ic_notification.png" />
  </platform>
</plugin>
